// Custom Variables
$blue: #1c86ee; 
$green: #41a34d;
$gray: #787878;
$gray-400: #ced4da;
$darkBlue: #23354f;
$white: #fff;
$black: #000;

$poppins: 'Poppins', sans-serif;
$sourceCode: 'Source Code Pro', monospace;

// Body Styles
body {
  background: $green;
  color: $darkBlue;
  font-family: $poppins;
}

// Main Container
div.main {
  background: $white;
  margin: 5rem;
  border-radius: 8rem;
  max-width: 90%;
  min-height: 80vh;
}


// Navigation
nav.navbar {
  height: 6.5rem;

  // Avatar Image Link
  a.navbar-brand {
    margin-left: -8rem;

    img {
      max-width: 80%;
    }
  }

  // Navigation Links
  ul.navbar-nav {
    font-size: 24px;
    font-family: $sourceCode;
    border-bottom: 1px solid $gray-400;

    a.nav-link {
      color: $black;

      &:hover, &:active {
        color: $gray;
        margin-bottom: -1rem;
        border-bottom: 5px solid $green;
      }

    }

  }
}


// Content Container
div#content {
  margin-top: 6rem;
}

// Homepage Screen Styles
section#home {

  h1.introHead {
    font-weight: 700;
    font-size: 44px;
  }

  span.myName {
    color: $blue;
  }

  span.highlightLetter {
    color: $green;
  }

  p.introText {
    font-size: 20px;
    line-height: 2.5rem;
  }

  img.mainPageScreen {
    border: 2px dashed $gray;
    border-radius: 20px;
  }
}

// Project Styles
section#projects {

}

// About Styles
section#about {

}

// Resume Styles
section#resume {

}

// Contact Styles
section#contact {
  
}