body {
  background: #787878;
  color: #23354f;
  font-family: "Poppins", sans-serif;
}

div.main {
  background: #fff;
  margin: 5rem;
  border-radius: 8rem;
  max-width: 90%;
  min-height: 80vh;
}

nav.navbar {
  height: 6.5rem;
}

nav.navbar a.navbar-brand {
  margin-top: -2rem;
  margin-left: -8rem;
}

nav.navbar a.navbar-brand img {
  max-width: 80%;
}

nav.navbar ul.navbar-nav {
  font-size: 24px;
  font-family: "Source Code Pro", monospace;
  border-bottom: 1px solid #ced4da;
}

nav.navbar ul.navbar-nav a.nav-link {
  color: #23354f;
}

nav.navbar ul.navbar-nav a.nav-link:hover, nav.navbar ul.navbar-nav a.nav-link:active {
  color: #1c86ee;
  margin-bottom: -1rem;
  border-bottom: 5px solid #41a34d;
}

div#content {
  margin-top: 6rem;
}
