/*-----------------------
    >| Global Variables
------------------------*/

:root {
  /* Colors */
  --apricot: #FFB703;
  --sunburst: #FB8500;
  --sky: #95d8f7;
  --blueGreen: #15778E;
  --coolGray: #022333;
  --white: #ffffff;
  --black: #000000;
  /* Fonts */
  --raleway: 'Raleway', sans-serif;
  --spaceMono: 'Space Mono', monospace;
  /* Decorations */
  --sunnyLine: underline 2px #fb8500;
  --blueLine: underline 2px #219ebc;
}


/*-----------------------
  >| Base Styles
------------------------*/

html, body {
  height: 100%;
  background-color: var(--coolGray);
  margin-top: 1rem;
  scroll-behavior: smooth;
}

nav,
h1,
h2,
h3,
h4,
h5, 
a {
  font-family: var(--spaceMono);
  color: var(--apricot);
}

p {
  font-family: var(--raleway);
}

.wrapper {
  padding: 1.5rem;
  margin: 0;
}


/*-----------------------
  >| Navigation
------------------------*/

/* x-Small devices (<576px) */

.navbar-brand, .nav-link {
  font-size: 24px;
  color: var(--sky);  
}

.nav-link {
  text-align: center;
  width: 106%;
  color: var(--coolGray);
  text-decoration: underline 2px var(--apricot);
}

.navbar-nav {
  position: fixed;
  width: 80%;
  top: 6rem;
  left: 2.5rem;
  background-color: var(--blueGreen);
} 

.navbar-toggler:focus {
  box-shadow: 0 0 0 2px var(--apricot);
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

  .navbar-nav {
    width: 85%;
  }

  .nav-link {
    width: 103.5%;
  }

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .navbar-nav {
    width: 90%;
  }

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .navbar-nav {
    position: relative;
    width: unset;
    top: unset;
    left: unset;
    background-color: transparent;
  } 

  .navbar-brand, .nav-link {
    color: var(--sky);
  }
  
  .navbar-brand:hover, .nav-link:hover {
    color: var(--white);
    text-decoration: underline 2.5px var(--apricot);
  }
  
  .nav a.nav-link.active {
    text-decoration: underline;
    text-decoration-color: var(--apricot);
  }

}
  
  
/*-----------------------
  >| Heading
------------------------*/

/* X-Small devices (<576px) */

.heading .wrapper, .heading h1{
  padding: 1.5rem 0;
}

.btn {
  color: var(--white);
  font-size: 20px;
  border: 2px solid var(--sky);
  border-radius: 0;
  padding: 8px 7px;
  margin-top: .5rem;
}

.arrow-down {
  color: var(--white);
  font-size: 50px;
  margin-top: 2rem;
  padding-bottom: 2rem;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

  .heading {
    margin-top: 2rem;
    min-height: 50vh;
  }
  
  .btn:hover {
    color: var(--sky);
    border-color: var(--sunburst);
  }
  
  .arrow-down a:hover {
    color: var(--sunburst);
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .heading {
    margin-top: 5rem;
  }

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .heading {
    min-height: 75vh;
  }

 }

/* XX-Large devices (>1400px) */
@media (min-width: 1400px) { 

    .heading {
      margin-top: 10rem;
    }

  }
  
  
  /*-----------------------
  >| About
------------------------*/

/* x-Small devices (<576px) */

#about {
  background-color: var(--blueGreen);
  padding: 2rem 0;
}

#about h3 {
  color: var(--coolGray);
  font-weight: 700;
  text-decoration: var(--sunnyLine);
  margin-top: 5rem;
}

#about p {
  color: var(--white);
}

#about img{
  border-radius: 20%;
  box-shadow: 10px 5px 0 5px var(--sunburst);
}

#about .btn {
  border-color: var(--apricot);
  color: var(--coolGray);
  font-weight: 700;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
  #about img{
    margin-left: 20%;
  }

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

  #about img {
    margin-left: 30%;
  }
  
  #about img:hover {
    box-shadow: 10px 5px 0 5px var(--coolGray);
  }
  
  #about .btn {
    border-color: var(--sky);
  }
  
  #about .btn:hover {
    color: var(--white);
    border-color: var(--sunburst);
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
  #about img{
    margin-left: 0;  
  }

  #about h3 {
    margin-top: 0;
  } 

}
  
  
  /*-----------------------
  >| Tech Stack
------------------------*/

/* x-Small devices (<576px) */
#tech-stack {
  padding: 5rem 0;
}

#tech-stack h3 {
  color: var(--sunburst);
  font-weight: 700;
  text-decoration: var(--blueLine);
  text-align: center;
}

#tech-stack i {
  color: var(--sky);
  font-size: 50px;
}

#tech-stack p {
  color: var(--sky);
  font-family: var(--spaceMono);
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
  #tech-stack i:hover {
    color: var(--apricot);
    transform: scale(1.2);
    transition: ease-in;
  }

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
  #tech-stack .col-lg-2 {
    width: 20%;
  }

}

  
/*-----------------------
  >| Projects
------------------------*/

/* x-Small devices (<576px) */
#projects {
  background-color: var(--blueGreen);
  padding: 5rem 0;
}

#projects h3 {
  text-align: center;
  color: var(--coolGray);
  font-weight: 700;
  text-decoration: var(--sunnyLine);
  margin-bottom: 2.5rem;
}

.card {  
  background-color: var(--sky);
  border: 2px solid var(--sunburst);
  padding: 2rem;
  margin: 1.5rem 0;
}

.card img {
  border-radius: 30px;
}

.card-title {
  color: var(--coolGray);
  font-weight: 700;
  text-transform: lowercase;
  text-decoration: var(--sunnyLine);
}

.card-text {
  margin-top: 2rem;
}

.card .btn {
  border: 2px solid var(--sunburst);
  color: var(--coolGray);
  font-family: var(--spaceMono);
  margin: 1rem 2.5rem;
}

.card .ref-links {
  color: var(--coolGray);
  text-decoration: dashed underline 2px var(--black);
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
  .card img {
    max-width: 80%;
    margin: 0 auto;
  }  

  .card-title {
    margin-top: 1rem;
  }
  
  .card-text {
    max-width: 80%;
    margin: 1.5rem auto;
  }

  .card .btn {
    margin: 1rem 1rem 0 1.5rem;
  }
  
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
  .card img {
    width: 80%;
  }
  
  .card .btn:hover {
    border-color: var(--black);
    background-color: var(--white);
    color: var(--coolGray);
  }
  
  .card .ref-links:hover {
    color: var(--white);
  }

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
  .card {
    flex-direction: row;
  }
  
  .card img {
    max-width: 50%;
  }
  
  .card-text {
    max-width: 100%;
  }

}
  
/*-----------------------
  >| Contact
------------------------*/

/* x-Small devices (<576px) */
#contact {
  padding: 3rem 0;
}

#contact h3 {
  text-align: center;
  color: var(--sunburst);
  font-weight: 700;
  text-decoration: var(--blueLine);
  margin-bottom: 3rem;
}

#contact .form-control {
  background-color: var(--sky);
  color: var(--coolGray);
  font-family: var(--raleway);
  border: 0;
  border-radius: 0;
}

#contact .form-control::placeholder {
  color: var(--coolGray);
}

#contact .form-control:focus {
  box-shadow: 0 0 0 2px var(--apricot);
  border: 1px solid var(--sunburst);
}

#contact textarea {
  resize: none;
}

#contact button, #contact .btn {
  padding: 5px 30px;
}